<html>
  <head>
    <meta charset="utf-8"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link href="{% if depth %}{% for i in range(depth) %}../{% endfor %}{% endif %}css/bugstats.css", rel="stylesheet"/>
    <link href="{% if depth %}{% for i in range(depth) %}../{% endfor %}{% endif %}css/bugstats_extra.css", rel="stylesheet"/>
    <title>The Great Inkscape Bug Migration</title>
  </head>
  <body style="background-color:#ccc;">
  <div class="main_content{% block wide %}{% endblock %}">
    <div class="navigation">
      <span class="bug_nav"><a href="{% if depth %}{% for i in range(depth) %}../{% endfor %}{% endif %}index.html">How to Play</a></span>
      <span class="bug_nav"><a href="{% if depth %}{% for i in range(depth) %}../{% endfor %}{% endif %}leaderboard.html">Top Wranglers</a></span>
      <span class="bug_nav" style="float:right; margin-right:20px;"><a href="{% if depth %}{% for i in range(depth) %}../{% endfor %}{% endif %}contact.html">Contact</a></span>
      <span class="bug_nav" style="float:right; margin-right:20px;"><a href="{% if depth %}{% for i in range(depth) %}../{% endfor %}{% endif %}fieldguide.html">Bug Field Guide</a></span>
    </div>
    {% block content %}{% endblock %}
  </div>  
  </body>
</html>
