{% extends "base.html" %}
{% block nav %}
{{ super() }}
{% if updated %}<div class='updated'>Updated: {{updated}}</div>{% endif %}
{% endblock %}
{% block content %}
<div class="instructions">
<h1>Special Bug Field Guide</h1>
<p>
This page is dedicated to the research and documentation of Inkscape's
<strong>Special Bugs</strong>. Check back regularly as <strong>new Special
Bugs</strong> are discovered to see the wiggly wonders hidden in Inkscape's
code!<br>
</p>
<p class='bug_links'>
{% for bug in alpha %}
<span><a href="#{{bug.name}}"><strong style="color:{{bug.color}};">{{bug.bugname}}</strong></a></span>{% endfor %} 
</p>
</div>
{% for bug in bugs %}
<img class="page_shadow_hr" src="img/page_shadow_hr.png">
<div class="bug" id="{{bug.name}}">
	<img class="bug" src="img/{{bug.name}}_Bug_300.gif" title="{{bug.bugname}}"/>
    <h2 class="bug" style="color:{{bug.color}};">{{bug.bugname|upper}}</h2>
    <span class="taxonomy">({{bug.comment}})</span>
    <h3 class="bug" style="color:{{bug.color}};">+{{bug.pts}} BUG POINTS</h3><br><br>
    <div class="buginfo" style="background-color:{{bug.color}};">
Number of {{bug.bugname}}s found so far:<br>
<span class="bug_count">{{bug.count}}</span><br>
<span style="font-weight:normal;">First discovered {{bug.time}} by:</span> {{bug.by}}
</div>
<p class="bug">
{% for text in bug.text %}{% if loop.cycle('normal', 'strong') == 'strong' %}<strong style="color:{{bug.color}};">{{text}}</strong>{% else %}{{text}}{% endif %}{% endfor %}
</p>
</div>
{% endfor %}
</div>
{% endblock %}

