{% extends "base.html" %}
{% block content %}

<div class="instructions">

<h1>Contact</h1>

<p>Questions about how to play the game?  Drop in to the
dedicated <a target="bugstats_chat"
href="https://chat.inkscape.org/channel/bug_migration">chat room</a>
to get guidance from bug boffins and chat with other wranglers.
</p>

</div>

{% endblock %}


