{% extends "base.html" %}
{% block content %}

<div class="instructions">

<h1>The Great Inkscape Bug Migration</h1>
<img src="./img/bug_medal_gold.png" style="width:150px;float:left;margin-right:20px;">
<p>Help us <strong>migrate bugs</strong> by converting them <strong>from the LaunchPad bugtracker to the GitLab</strong> bug tracker. <br><br>
<strong>Win awards, swag and stickers</strong> by discovering special bugs and compete for top Bug Wrangler stats in our Leaderboard.</p>

<h2 style="clear:both;margin-top:80px;">Become a Bug Wrangler</h2>
<strong>To play, you'll need these things first:</strong><br><br>
<img src="./img/logo_card_icons.png" style="width:200px;float:left;margin-right:40px;">
<ol>
<li>An account on LaunchPad. <a href="https://login.launchpad.net/">Register here</a> if you don't have one.</li>
<li>An account on GitLab. <a href="https://gitlab.com/users/sign_in">Register here</a> if you don't have one (Click the "register" tab).</li>
<li>The latest Inkscape.<a href="https://inkscape.org/release/inkscape-1.0/?latest=1">Download Here.</a></li>
</ol>

<h2 style="clear:both;margin-top:80px;">Find an Open Bug!</h2>

<ul>
<li>The easiest way to <strong>find an open bug</strong> is to <a href="https://bugs.launchpad.net/inkscape/+bugs?field.searchtext=&field.status:list=NEW&field.status:list=CONFIRMED&field.status:list=TRIAGED&field.status:list=INPROGRESS&field.status:list=INCOMPLETE_WITH_RESPONSE&field.status:list=INCOMPLETE_WITHOUT_RESPONSE&assignee_option=any&field.assignee=&field.bug_reporter=&field.bug_commenter=&field.subscriber=&field.structural_subscriber=&field.tag=-bug-migration&field.tags_combinator=ANY&field.has_cve.used=&field.omit_dupes.used=&field.omit_dupes=on&field.affects_me.used=&field.has_patch.used=&field.has_branches.used=&field.has_branches=on&field.has_no_branches.used=&field.has_no_branches=on&field.has_blueprints.used=&field.has_blueprints=on&field.has_no_blueprints.used=&field.has_no_blueprints=on&search=Search&orderby=-id&start=0"> open this link on LaunchPad</a>.</li>
<li><strong>Bookmark this page</strong>, because it shows a <strong>special view</strong> with claimed and fixed bugs filtered out.</li>
<li>For reference, a bug is considered open when:</li>
	<ul>
		<li><strong>(a)</strong> It's not tagged <strong>"bug-migration"</strong></li>
		<li><strong>(b)</strong> Its status is one of the following: 'New', 'Incomplete', 'Opinion', 'Confirmed', 'Triaged', 'In Progress'.</li>
		<li><strong>(c)</strong> It's not marked as duplicate.</li>
	</ul>
</ul>
</ul>

<img src="./img/tagged_bug.png" style="width:300px;float:right;margin-left:10px;">

<ul>
<li>If the bug is open, you can start working on it:</li>
	<ul>
		<li><strong>Make sure you are logged in</strong> so you can see the editing controls for the bug.</li>
		<li><strong>Edit the bug's tags</strong> and add the <strong>"bug-migration"</strong> tag - doing this immediately minimizes the chances someone else will start working on the same bug.</li>
		<li><strong>Test the bug with the latest Inkscape</strong> to reproduce the bug and determine whether the bug needs to be <strong>migrated</strong> to GitLab, or if it can be closed without further work on LaunchPad (e.g. can not be reproduced, fix released, etc.). </li>
		<li><strong>If the bug needs to be migrated, search for duplicates <a href="https://gitlab.com/groups/inkscape/-/issues">on Gitlab</a></strong>. In case the issue has already been reported to GitLab, add a comment in the GitLab issue linking to the LaunchPad bug report, and copy over relevant LaunchPad comments. Skip the next paragraph and go to <a href="#notmigrating">Closing issue without migrating to GitLab</a>.
	</ul>
</ul>

<h2 style="clear:both;margin-top:80px;">Start Migrating!</h2>

<p><strong>If the bug needs to be migrated:</strong></p>
<img src="./img/launchpad_to_gitlab.png" style="width:150px;float:left;margin-right:40px;">
<ul>
<li><strong>Make a new bug report</strong> by clicking the "New Issue" button <a href="https://gitlab.com/inkscape/inbox/-/issues">on GitLab</a>.
<li><strong>Look at the title</strong> of the bug in Launchpad. If the title is very general or does not fit the actual issue reported, <strong>don't hesitate to improve it</strong>. It will make it significantly easier to find your migrated report and work with it! If the title is fine, copy/paste it into the Title of your new issue on GitLab. Otherwise, type a new and better Title instead into GitLab.</a>
<li>As the <strong>first line</strong> of the description, type <strong>"Migrated from: "</strong> and <strong>paste the web address</strong> of the bug on Launchpad after it. Example: "Migrated from: https://bugs.launchpad.net/inkscape/+bug/170703".
<li><strong>Read the description of the bug from Launchpad, and use it to fill in the Gitlab information which is requested in the template.</strong> If information is missing, please add it from your own test of the bug. 
<li><strong>Read over the comments</strong> associated with the bug in Launchpad, and <strong>write a summary comment</strong> in your new GitLab bug report, which includes the important information. In particular, collect reproductions of the bug (Inkscape version and operating system), also from duplicates.</li>
<li><strong>Copy and paste any important comments</strong> and examples from Launchpad into your summary comment.</li>
<li><strong>Check attachments</strong> which are associated with the Launchpad bug, and if they are relevant, <strong>attach them</strong> to your GitLab bug report. Don't hesitate to add your own replication file and/or stacktrace.</li>
<li>Click the <strong>"Submit Issue"</strong> button.</li>
</ul>

<img src="./img/launchpad.png" style="width:150px;float:right;margin-right:40px;margin-bottom:40px;margin-top:40px;">

<h2 style="margin-top:80px;">Closing on LaunchPad</h2>

<h3>Closing and migrating to GitLab</h3>

<p>On Launchpad, <strong>mark the bug Status as "Invalid"</strong>,
and add text like the following in a final comment:</p>

<pre>
Hi - thanks for reporting this bug, I've manually migrated it to Inkscape's new
bug tracker on GitLab, and closed it here.

Please feel free to file new bugs about the issues you're seeing at
http://inkscape.org/report.

Moved to: https://gitlab.com/inkscape/inbox/-/issues/XXX
Closed by: https://gitlab.com/USERNAME
</pre>

<p>Replace 'XXX' with the new bug number on GitLab, and 'USERNAME' with your GitLab username.
The link lets the reporter follow their bug, and the username lets you get credit for the
migration.</p>

<a name="notmigrating"><h3>Closing without migrating to GitLab</h3></a>

<p>On Launchpad, close the bug with the appropriate status
(Fix Released, Invalid, Can't Replicate, etc.)
and add text like the following in a final comment:</p>

<pre>
Closing because [insert explanation here].

Closed by: https://gitlab.com/USERNAME
</pre>

<p>Replace 'USERNAME' with your GitLab username - that lets you get credit for
the closure.</p>

<h2 style="clear:both;margin-top:80px;">Rewards!</h2>

<p>Each LaunchPad bug converted to a GitLab bug or closed on LaunchPad will earn you <strong>bug points</strong> based on the difficulty of the bug. You can check your progress on <a href="./leaderboard.html">this leader board</a> (updated every 15 minutes).
</p>
<img src="./img/20_different_bugs_to_collect.png" style="width:200px;float:left;margin-right:40px;">
<p><strong>Bug Point Medals</strong> - When you close bugs, you get points. When you achieve the next level of points, you get an <strong>achievement medal</strong>. The leaderboard shows how far away you are from the next level - Bronze, Silver, Gold, Platium, and Diamond. This award level is shown next to your name on the Leaderboard.
</p>
<p><strong>Collecting Special Bugs</strong> - Some bugs (issues on Launchpad) are <strong>Special Bugs</strong> which will <strong>automatically appear</strong> in your "specials" area on the leaderboard.
They are distributed throughout the entire bug population, so the more bugs you migrate the more opportunities you have to discover and collect them! Additionally, each Special Bug is also worth bonus bug points which will be added to your total.
</p>
<p>
<strong>Once the event is over</strong>, we will ship you your award medal stickers and a sticker for each special bug you have collected. Before this, you will have the opportunity to <strong>trade special bugs</strong> with others on the leaderboard to get the ones you were hoping to find. 
</p>
<p>
Each time a new Special Bug is discovered, <strong>an announcement will be made</strong> on our social media platforms about who has found the first one, as well as an animated illustration of the bug, which you can find on the <a href="./fieldguide.html">Bug Field Guide</a>.</p>
</p>

<h2 style="clear:both;margin-top:80px;">Additional Prizes!</h2>

<p>There will also be <strong>special prizes</strong> (Inkscape shirts & mugs, etc.) awarded to the those who earned the <strong>top three</strong> highest bugpoint scores. (to be announced)</p>

<h2 style="clear:both;margin-top:80px;">Bug scores</h2>

<p>The goal of this game is to collectively migrate <em>all</em> of the open bugs from Launchpad to
GitLab. The game ends when the last bugs have been migrated.</p>

<h1>THANKS FOR PLAYING!</h1>

</div>
{% endblock %}


