{% extends "base.html" %}
{% block content %}<div class="instructions">
        <h1>Bug Analysis Log: {{gl_username}}</h1>
<div class="logblocks">
{% for block in blocks %}
{% if block.special %}
<div class="bugbin"><a href="../fieldguide.html#{{block.special}}"><img src="../img/{{block.special}}_Bug_300.gif" style="width:150px;height:150px;"></img></a></div>
{% endif %}
<div class="logblock {{block.class}}">
<div class="title">{{block.title}}</div>{% for entry in block.entries %}
<div class="entry {{entry.class}}">{{entry.text}}</div>{% endfor %}
</div>
{% if not loop.last %}<hr class="log_seperator"/>{% endif %}
{% endfor %}
</div>
</div>
{% endblock %}

