{% extends "base.html" %}
{% block wide %}-wide{% endblock %}
{% block content %}<div class="instructions-wide">
    <h1>Top Wranglers
            <br/><span style="font-size: 50%">{{updated}} Z, {{users|length}} wranglers, {{total_bugs}}/{{all_bugs}} bugs migrated: <strong>{{(total_bugs/all_bugs*100)|int}}%</strong></span>
            <center><div class="big_bar_bg" style="font-size: 50%; text-align: left;"><img src="img/bar.png" class="big_bar"
                                                                                          style="width:{{tot_perc*20}}em;"/></div></center>
    </h1>
    <table class="scoreboard">
      <tr>
	<th class="rank"></th>
	<th class="level">Level</th>
	<th class="score">Score</th>
	<th class="user">User</th>
	<th class="next">Next level</th>
	<th class="specials">Specials</th>
      </tr>
      {% for user in users %}
      <tr>
	<td>{{user.rank}}</td>
    <td>{% if user.level %}<img src="img/{{user.level}}.png" alt="{{user.level}} medal" title="{{user.level}} ({{user.level_pts}} points)"/>{% endif %}</td>
	<td><a href="log/{{user.username}}.html">{{user.score}}</a></td>
	<td>{{user.username}}</td>
	<td>{% if user.next_lvl %}
	  <div class="bar_bg"><img src="img/bar.png" class="bar"
	    width="{{user.percent}}px"/></div><div class="next_txt">{{user.percent}}%, {{user.next_lvl}} pts.</div>  
	{% endif %}</td>
	<td>{% for special in user.specials %}
      <span class='bugbox'>{% if special.count == 1 %}
	  <a href="{{special.href}}" target="_LP_{{special.lp_bug_id}}"><img src="img/{{special.special}}_Bug_50.gif" title="{{special.special}}: {{special.comment}}, {{special.pts}} for LP:{{special.lp_bug_id}}"/></a>
	  {% else %}
	  <a href="{{special.href}}" target="_LP_{{special.lp_bug_id}}"><img src="img/{{special.special}}_Bug_50.gif" title="{{special.bugname}} ({{special.comment}}), {{special.pts*special.count}} pts!"/>
              <span class="multi">×{{special.count}}</span></a>
      {% endif %}</span>
	{% endfor %}</td>
      </tr>
      {% endfor %}
    </table>
</div>{% endblock %}

