:root {--accent_color:#8f5902}
<style>
 body {
  font-family:'Ubuntu', 'Liberation Sans', sans-serif;
	color:#777;
	
 }
code {font-size:15px;}
h1,h2,h3,h4,h5,strong,code{
	color:var(--accent_color);font-weight:bold;
}

ul {
  list-style: none; /* Remove default bullets */
}

ol {
  list-style: none; counter-reset:li /* Remove default bullets */
}


ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--accent_color); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

ol li::before {
  content: counter(li)".";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	counter-increment:li;
  color: var(--accent_color); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1.5em; /* Also needed for space (tweak if needed) */
  margin-left: -1.5em; /* Also needed for space (tweak if needed) */
}

a {  
	color: var(--accent_color);
}
a:link {
  color: var(--accent_color);
}
a:visited {
  color: var(--accent_color);
}
a:hover {
  color: var(--accent_color);
}
a:active {
  color: var(--accent_color);
}



div.main_content {
	overflow:auto;
	position:relative; 
	max-width:700px;
	margin-left:auto;
	margin-right:auto;
	background-image:url("../img/bug_hunt_header_graphic_1024px_vignette.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-color:white;	
	border-radius:10px;
	-webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,1);
	box-shadow: 0px 6px 6px 0px rgba(0,0,0,1);
  font-family:'Ubuntu', 'Liberation Sans', sans-serif;
	color:#777;
}

div.main_content-wide {
	overflow:auto;
	position:relative; 
	max-width:1024px;
	margin-left:auto;
	margin-right:auto;
	background-image:url("../img/bug_hunt_header_graphic_1024px_vignette.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-color:white;	
	border-radius:10px;
	-webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,1);
	box-shadow: 0px 6px 6px 0px rgba(0,0,0,1);
  font-family:'Ubuntu', 'Liberation Sans', sans-serif;
	color:#777;
}


th.rank {width:50px;}
th.level {width:50px;}
th.score {width:50px;}
th.user {width:50px;}
th.next {width:50px;}
th.specials {width:300px;}

div.instructions {
	margin-top:50px;
	position:relative; 
	max-width:600px;
	margin-left:auto;
	margin-right:auto;
  font-family:'Ubuntu', 'Liberation Sans', sans-serif;
	color:#777;
}

div.instructions-wide {
	margin-top:100px;
	position:relative; 
	max-width:1020px;
	margin-left:20px;
	margin-right:20px;
  font-family:'Ubuntu', 'Liberation Sans', sans-serif;
	color:#777;
}

span.bug_nav a {
	padding:9px;
	margin:auto;
	position:relative;
	display:inline-block;
	color:white;
	text-decoration:none;
}

span.bug_nav {
	margin-left:20px;
	position:relative;
	border:2px solid black;
	background-color:#744e2c;
	height:40px;
	padding: 3px 0 0 3px;;
	border-radius:10px;
	display:inline-block;
	-webkit-box-shadow: 6px 6px 6px -6px rgba(0,0,0,0.5);
	-moz-box-shadow: 6px 6px 6px -6px rgba(0,0,0,0.5);
	box-shadow: 6px 6px 6px -6px rgba(0,0,0,0.5);
}


div.navigation{
	margin-top:320px;
	position:relative; 
	max-width:1020px;
	margin-left:auto;
	margin-right:auto;
  font-family:'Ubuntu', 'Liberation Sans', sans-serif;
	color:#777;
}

table {
  margin-left:auto;
  margin-right:auto;
 }
p {}
span.bugbox {
	position:relative;
	border:1px solid #AAA;
	background-color:white;
	height:55px;
	width:55px;
	padding: 3px 0 0 3px;;
	border-radius:10px;
	display:inline-block;
	-webkit-box-shadow: 6px 6px 6px -6px rgba(0,0,0,0.5);
	-moz-box-shadow: 6px 6px 6px -6px rgba(0,0,0,0.5);
	box-shadow: 6px 6px 6px -6px rgba(0,0,0,0.5);
}
span.multi {
	position:absolute;
	right:-2px;
	bottom:-2px;
	font-size:10px;
	font-weight:bold;
	font-family:sans;
	border:2px solid #999; 
  border-radius:10px;
	background-color:white;
	padding:2px;
	drop-shadow:5px;
}

th, td {
	padding: 10px;
	text-align: left;
	color:#777;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}
span.next_text
{
	display:block;
}
span.bar {
	line-height:0;
	display: inline-block;
	height:8px;
	background:url(../img/grad.png);
	background-repeat: no-repeat;
	background-size: 100px 20px;
}

h1 {text-align:center;}

h2.bug{
	text-align:center;
	font-size:40px;
	margin:0 10px 0 10px;
}

img.bug{
	margin:0 auto 0 auto;
	display:block;
	width:250px;
	height:250px;
}

h3.bug{
	text-align:center;
	margin:10px 10px 0 10px;
}

p.bug{
	width:290px;
	margin:0 10px 0 10px;
	text-align:justify;
	font-size:14px;
	}
div.bug {
	margin-top:10px;
	position:relative; 
	width:600px;
	margin-left:auto;
	margin-right:auto;
  font-family:'Ubuntu', 'Liberation Sans', sans-serif;
	color:#777;
}
div.buginfo{
	padding:10px;
	text-align:center;	
	width:250px;
	color:white;
	font-weight:bold;
	font-size:12px;
	float:right;
	border-radius:10px;
	-webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.25);
}

span.bug_count{font-size:40px;}

img.page_shadow_hr{
	display:block;
	width:100%;
	height:41px;
}

span.taxonomy{text-align:center;font-style:italic;display:block;}
</style>
