.bug_links { text-align: center; }
.bug_links a { text-decoration: none; }
div.bar_bg {
  height:8px;
  width:100px;
  background:#999;
}
img.bar {
  height:8px;
  background:url(../img/grad.png);
  background-repeat: no-repeat;
  background-size: 100px 20px;
}
.big_bar_bg {
  height:12px;
  width:20em;
  background:#999;
}
img.big_bar {
  height:12px;
  background:url(../img/grad.png);
  background-repeat: no-repeat;
  background-size: 20em 20px;
}
div.next_txt {
  text-align: center;
}
div.left_content{
	float:left;
	margin-bottom:10px;
}
div.logblocks {
  margin-bottom: 2em;
}
div.logblock {
  margin-top: 1ex;
}
div.logblock .title { font-weight: bold; }
div.logblock.total { font-weight: bold; text-align: center; font-size: 200%; color: var(--accent_color); }
div.logblock .entry { padding-left: 2em; }
div.logblock.total .entry { padding-left: 0; color: var(--accent_color); font-size: 75%; }
div.logblock .entry.special { font-weight: bold; color: var(--accent_color); }
div.logblock.conflict {
  color: red;
}
div.bugbin {
	float:right;
	width:150px;
	height:150px;
}
hr.log_seperator{
	clear:both
}
